<ons-navigator animation="slide" var="barcodepage">  
  <ons-page >
    <ons-toolbar>
      <div class="left">
      </div>
      <div class="center">Barcode Scanner</div>
      <div class="right">
      </div>
    </ons-toolbar>

    <div class="app-page">
      <div class="app-page-content" ng-controller="barcodeController">
        <br><br>
        <ons-button modifier="large" ng-click="startScanner()">Start Scanner</ons-button>

        <ons-button modifier="large" ng-click="encodeScanner()">Encode Scanner</ons-button>


        <h2>Scanner Results</h2>
        <ons-list>
          <ons-list-item><span class="pull-left">Result</span><span class="pull-right">{{ barcode.result }}</span></ons-list-item>
          <ons-list-item><span class="pull-left">Format</span><span class="pull-right">{{ barcode.format }}</span></ons-list-item>
          <ons-list-item><span class="pull-left">Cancelled</span><span class="pull-right">{{ barcode.cancelled }}</span></ons-list-item>
        </ons-list>

      </div>
    </div>
  </ons-page>
</ons-navigator>   
