   
<ons-page>
<ng-include src="template.html"></ng-include>
<!--     <ons-modal var="myModal">
      <ons-button onclick="myModal.hide()">Hide</ons-button>
    </ons-modal> -->
  <ons-toolbar modifier="transparent">    
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()"><ons-icon icon="ion-navicon-round" style="color: white; font-size: 28px;" fixed-width="false"></ons-icon></ons-toolbar-button>
    </div>
    <div class="right">
      <ons-toolbar-button class="white" ng-click="menu.setMainPage('signup.html', {closeMenu: true})" >Sign Up</ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="login-page" ng-controller="loginController">
    <div class="login-logo">
      <h2 class="home-title">antri.in</h2>
      <p class="subtitle">
      reduce your waiting time</p>
    </div>
    <div class="login-form">
      <div class="form-wrapper">
        <input type="email" class="text-input--underbar" placeholder="Email" value="" ng-model="email">
        <input type="password" class="text-input--underbar" placeholder="Password" value="" ng-model="password">
        <br><br>
        <ons-button id="showmodal" modifier="large" class="login-button" ng-click="login(email,password,naviDialog,naviDialog2)">Log In</ons-button>
        <br><br>
        <ons-button modifier="quiet" class="forgot-password">Forgot password?</ons-button>
      </div>
    </div>
    <div class="noblur">
      <img src="images/kantorposlogin.jpg" class="bg">
    </div>
  </div>

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
   <filter id="blur">
     <feGaussianBlur stdDeviation="10" />
     </filter>
  </svg> 
</ons-page>


    <ons-dialog style="height: 160px;" var="naviDialog" cancelable >
      <ons-navigator var="myNav">
        <div style="text-align: center">
          <p>
            Welcome
          </p>
        </div>
      </ons-navigator>
    </ons-dialog>

    <ons-dialog style="height: 160px;" var="naviDialog2" cancelable >
      <ons-navigator var="myNav">
        <div class="alert-dialog-title" style="text-align: center">
          <p>
            Username or password Incorrect
          </p>
        </div>
      </ons-navigator>
    </ons-dialog>
